Codes/** linguist-documentation=false
Codes/** linguist-vendored=false
Codes/** .sql linguist-detectable=true
Codes/** .sql linguist-language=sql

# Show SQL files as SQL
*.sql linguist-detectable=true

# Show SQL files as SQL and not TSQL
*.sql linguist-language=sql
